* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    background-color: var(--light-gray-background);
    position: fixed;
    overflow: auto;

    height: 100%;
    width: 320px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

/* GREETING  */

.greeting-div {
    display: flex;
    align-items: center;
    gap: 16px;

    font-size: 32px;
}

.github-button {
    font-size: 52px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.github-button:visited {
    color: transparent;
}

.github-button:hover {
    transform: scale(1.4);
}

/* TODO ACTION and PROJECTS */

.projects-container h2 {
    margin-bottom: 20px;
}

.todo-actions-container ul,
.projects-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.todo-actions-container ul li {
    margin-bottom: 10px;
}

.projects-container ul li {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.task-action-button,
.project-tag,
.delete-project-button {
    width: 100%;
    font-size: 18px;
    padding: 10px 14px;

    border: none;
    border-radius: 8px;
    cursor: pointer;
    
    background-color: transparent;
    color: var(--dark-gray-font);

    display: flex;
    gap: 12px;
}

.task-action-button:active,
.project-tag:active {
    background-color: var(--dark-gray-background);
    color: black;
}

.task-action-button:hover,
.project-tag:hover  {
    transform: scale(1.1);
}

.delete-project-button {
    width: 60px;
    font-size: 20px;
    justify-content: center;
}

.delete-project-button:hover {
    color: var(--red-color);
    transform: scale(1.1);
}