:root {
    --light-gray-background: #ededed84;
    --dark-gray-background: rgb(211, 211, 211);
    --dark-gray-font: #585959;
    --red-color: rgb(208, 51, 51);
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#content {
    position: relative;
    height: 100vh;
}